<nav class="nav-menu">
    <ul>
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="nav-icon">&#9632;</span>
                <span class="nav-label">Portfolio</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="risk">
                <span class="nav-icon">&#9650;</span>
                <span class="nav-label">Risk Monitor</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="analytics">
                <span class="nav-icon">&#9679;</span>
                <span class="nav-label">Analytics</span>
            </NavLink>
        </li>
    </ul>
</nav>
